.pill {
	background: #000;
	border-radius: 999px;

	color: #fff;
	font-size: 1.5rem;
	line-height: 2;
	white-space: nowrap;

	display: inline-block;
	margin: 32px 0;
	padding: 0 24px;

	pointer-events: none;

	&.dark {
		background: transparent;
		border: 2px #fff solid;
		font-weight: 700;
	}
}
